html {
  box-sizing: border-box;
}
#topnav a {
  float: left;
}
html {
  font-size: 0.104166667in;
}
html,
body,
body {
  font-family: "Roboto", sans-serif;
}
body {
  right: 0px;
}
body {
  width: 98%;
}
.tooltip .tooltiptext::after {
  content: "";
}
*/ #no-li {
  border-radius: 2.25pt;
}
body {
  padding-left: 0.208333333in;
}
header [class~="logo"] a {
  background-image: url("https://u.cubeupload.com/AIGamesDeveloper/a93513062000ccfbb18a.png");
}
a:hover {
  text-decoration: underline;
}
.tooltip .tooltiptext::after {
  position: absolute;
}
header [class~="logo"] a {
  background-size: 187.5pt;
}
8body {
  padding-bottom: 0.208333333in;
}
[class~="tooltip"] [class~="tooltiptext"] {
  visibility: hidden;
}
[class~="tooltip"] [class~="tooltiptext"] {
  width: 105pt;
}
body {
  padding-right: 0.208333333in;
}
body {
  padding-top: 0.208333333in;
}
h1,
[class~="tooltip"] [class~="tooltiptext"],
button,
body,
#topnav a,
h2,
#topnav a {
  text-align: center;
}
*/ #no-li {
  padding-left: 1.5pt;
}
body {
  word-wrap: break-word;
}
*:before,
*:after,
* {
  box-sizing: inherit;
}
h2,
h1 {
  color: #133a65;
}
#topnav a:hover {
  background-color: #ddd;
}
h1 {
  font-weight: bold;
}
#topnav a {
  color: #f2f2f2;
}
.tooltip .tooltiptext::after {
  top: 100%;
}
[class~="tooltip"] [class~="tooltiptext"] {
  background-color: #555;
}
.tooltip .tooltiptext::after {
  left: 50%;
}
*/ #no-li {
  padding-bottom: 1.5pt;
}
h2 {
  font-weight: 900;
}
body {
  margin-left: 2rem;
}
#topnav a:hover {
  color: black;
}
*/ #no-li {
  padding-right: 1.5pt;
}
*/ #no-li {
  padding-top: 1.5pt;
}
[class~="tooltip"] [class~="tooltiptext"] {
  color: #fff;
}
.tooltip .tooltiptext::after {
  margin-left: -0.052083333in;
}
body {
  margin-bottom: 2rem;
}
body {
  margin-right: 2rem;
}
body {
  margin-top: 2rem;
}
header [class~="logo"] a {
  background-repeat: no-repeat;
}
*/ #no-li {
  margin-left: 15pt;
}
body {
  line-height: 1;
}
body {
  font-size: 1.25pc;
}
body {
  background: #fff;
}
[class~="tooltip"] [class~="tooltiptext"] {
  border-radius: 0.375pc;
}
#topnav {
  width: 105%;
}
img {
  display: block;
}
img {
  margin-left: auto;
}
#topnav a {
  padding-left: 0.125in;
}
button,
[class~="tooltip"] [class~="tooltiptext"] {
  padding-left: 3.75pt;
}
[class~="tooltip"] [class~="tooltiptext"],
button {
  padding-bottom: 3.75pt;
}
img {
  margin-right: auto;
}
img {
  width: 70%;
}
header [class~="logo"] a {
  display: inline-block;
}
img {
  height: 100%;
}
#topnav a {
  padding-bottom: 0.125in;
}
video {
  height: auto;
}
#topnav {
  background-color: #084;
}
video {
  max-width: 100%;
}
#topnav a {
  padding-right: 0.125in;
}
[class~="tooltip"] [class~="tooltiptext"],
button {
  padding-right: 3.75pt;
}
button,
[class~="tooltip"] [class~="tooltiptext"] {
  padding-top: 3.75pt;
}
#topnav a {
  padding-top: 0.125in;
}
.tooltip .tooltiptext::after {
  border-left-width: 3.75pt;
}
button {
  margin-right: 0pt;
}
#topnav {
  overflow: hidden;
}
#topnav a[class~="active"] {
  background-color: #04aa6d;
}
button {
  background: #585858;
}
button {
  border-left-width: meduim;
}
h6,
button,
section,
#topnav a[class~="active"] {
  color: white;
}
button {
  border-bottom-width: medium;
}
button {
  border-right-width: medium;
}
#topnav a {
  text-decoration: none;
}
button {
  border-top-width: medium;
}
button {
  border-left-style: none;
}
button {
  border-bottom-style: none;
}
button {
  border-right-style: none;
}
button {
  border-top-style: none;
}
button {
  border-left-color: currentColor;
}
.tooltip .tooltiptext::after {
  border-bottom-width: 3.75pt;
}
#topnav a {
  font-size: 30px;
}
button {
  border-bottom-color: currentColor;
}
header [class~="logo"] a {
  height: 0.416666667in;
}
button {
  border-right-color: currentColor;
}
button {
  border-top-color: currentColor;
}
button {
  border-image: none;
}
#topnav,
header {
  padding-left: 0.208333333in;
}
header {
  margin-left: 22.5pt;
}
header {
  margin-bottom: 22.5pt;
}
header {
  margin-right: 22.5pt;
}
#topnav {
  padding-bottom: 0pc;
}
header {
  margin-top: 22.5pt;
}
header,
#topnav {
  padding-right: 0.208333333in;
}
header {
  padding-bottom: 0.208333333in;
}
#topnav a {
  font-family: "Roboto", sans-serif;
}
#topnav {
  padding-top: 0pc;
}
#topnav {
  margin-left: -31.5pt;
}
[class~="tooltip"] [class~="tooltiptext"] {
  position: absolute;
}
#topnav a {
  width: 100/7%;
}
header {
  padding-top: 0.208333333in;
}
header {
  font-size: 1.5pc;
}
h3,
h6,
section,
header {
  text-align: center;
}
header {
  font-family: Futura;
}
.tooltip .tooltiptext::after {
  border-right-width: 3.75pt;
}
section,
h3 {
  background: #04aa6d;
}
[class~="tooltip"],
header [class~="logo"] a {
  position: relative;
}
#topnav {
  margin-bottom: -31.5pt;
}
section {
  margin-left: 37.5pt;
}
section {
  margin-bottom: 37.5pt;
}
section {
  margin-right: 37.5pt;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
[class~="tooltip"] [class~="tooltiptext"] {
  z-index: 1;
}
section {
  margin-top: 37.5pt;
}
section {
  padding-left: 5%;
}
header [class~="logo"] a {
  text-indent: -99999999;
}
[class~="tooltip"] [class~="tooltiptext"] {
  bottom: 150%;
}
#topnav {
  margin-right: -31.5pt;
}
#topnav {
  margin-top: -31.5pt;
}
[class~="tooltip"] [class~="tooltiptext"] {
  left: 50%;
}
section {
  padding-bottom: 5%;
}
section {
  padding-right: 5%;
}
section {
  padding-top: 5%;
}
section {
  font-size: 3pc;
}
header [class~="logo"] a {
  top: -0.416666667in;
}
[class~="tooltip"] [class~="tooltiptext"] {
  margin-left: -0.78125in;
}
li,
h3,
[class~="tooltip"] {
  display: inline-block;
}
li {
  border-radius: 2.25pt;
}
li {
  padding-left: 0.125pc;
}
[class~="tooltip"] [class~="tooltiptext"] {
  opacity: 0;
}
#bigtext {
  font-size: 0.260416667in;
}
li {
  padding-bottom: 0.125pc;
}
li {
  padding-right: 0.125pc;
}
li {
  padding-top: 0.125pc;
}
li {
  margin-left: 20px;
}
a {
  text-decoration: none;
}
h3,
p {
  color: white;
}
[class~="tooltip"] [class~="tooltiptext"] {
  transition: opacity 0.3s;
}
header [class~="logo"] a {
  width: 0.416666667in;
}
h3 {
  border-radius: 5px;
}
h3 {
  background-size: 300px;
}
.tooltip .tooltiptext::after {
  border-top-width: 3.75pt;
}
h3 {
  padding-left: 0.208333333in;
}
h3 {
  padding-bottom: 15pt;
}
h3 {
  padding-right: 0.208333333in;
}
h3 {
  padding-top: 15pt;
}
.tooltip .tooltiptext::after {
  border-left-style: solid;
}
.tooltip .tooltiptext::after {
  border-bottom-style: solid;
}
.tooltip .tooltiptext::after {
  border-right-style: solid;
}
.tooltip .tooltiptext::after {
  border-top-style: solid;
}
.tooltip .tooltiptext::after {
  border-left-color: transparent;
}
.tooltip .tooltiptext::after {
  border-bottom-color: transparent;
}
.tooltip .tooltiptext::after {
  border-right-color: transparent;
}
.tooltip .tooltiptext::after {
  border-top-color: #555;
}
.tooltip:hover .tooltiptext {
  opacity: 1;
}
.blacktext {
  color: black;
}