html {
  box-sizing: border-box;
  font-size: 18px;
}
body {
  right: 0px;
  width: 1500px;
  padding: 20px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  color: #133a65;
  text-align: center;
}

body {
  margin: 2rem;
  font-family: bedrock;
  line-height: 1;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}
video {
  height: auto;
  max-width: 100%;
}

button {
  text-align: center;
  background: #585858;
  border: none;
  color: white;
}

header {
  background: #000000;
  color: white;
  margin: 30px;
  padding: 5%;
  font-size: 24px;
}

section {
  background: #406082;
  color: white;
  text-align: center;
  margin: 50px;
  padding: 5%;
  font-size: 48px;
}


