html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}
body {
  right: 0px;
  width: 98%;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  word-wrap: break-word;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  color: #133a65;
  text-align: center;
}

h2 {
  color: #133a65;
  text-align: center;
}

body {
  margin: 2rem;
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-size: 20px;
  background: #FFFFFF;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 100%;
}
video {
  height: auto;
  max-width: 100%;
}

button {
  text-align: center;
  padding: 5px;
  margin-right: 100px;
  background: #585858;
  border: none;
  color: white;
}

header {
  margin: 30px;
  padding: 20px;
  font-size: 24px;
  text-align: center;
  font-family: Futura;
}

header .logo a {
  background-image: url("https://u.cubeupload.com/AIGamesDeveloper/a93513062000ccfbb18a.png");
  background-size: 250px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 40px;
  position: relative;
  text-indent: -99999999;
  top: -40px;
  width: 40px;
}

section {
  background: #04AA6D;
  color: white;
  text-align: center;
  margin: 50px;
  padding: 5%;
  font-size: 48px;
}
#no-li {
  border-radius: 3px;
  padding: 2px;
  margin-left: 20px;
}
li {
  display: inline-block;
  border-radius: 3px;
  padding: 2px;
  margin-left: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h6 {
  text-align: center;
  color: white;
}

p {
  color: white;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

#bigtext {
  font-size: 30px;
}

/* EOS */
