html {
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
body {
  right: 0px;
  width: 1500px;
  padding: 20px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-align: center;
  word-wrap: break-word;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  color: #133a65;
  text-align: center;
}

h2 {
  color: #133a65;
  text-align: center;
}

body {
  margin: 2rem;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  line-height: 1;
  font-size: 20px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}
video {
  height: auto;
  max-width: 100%;
}

button {
  text-align: center;
  padding: 5px;
  margin-right: 100px;
  background: #585858;
  border: none;
  color: white;
}

header {
  margin: 30px;
  padding: 20px;
  font-size: 24px;
  text-align: center;
  font-family: Futura;
}

header .logo a {
  background-image: url("https://u.cubeupload.com/AIGamesDeveloper/a93513062000ccfbb18a.png");
  background-size: 250px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 40px;
  position: relative;
  text-indent: -99999999;
  top: -40px;
  width: 40px;
}

section {
  background: #406082;
  color: white;
  text-align: center;
  margin: 50px;
  padding: 5%;
  font-size: 48px;
}
#no-li {
  border-radius: 3px;
  padding: 2px;
  margin-left: 20px;
}
li {
  display: inline-block;
  border-radius: 3px;
  padding: 2px;
  margin-left: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h6 {
  text-align: center;
  color: white;
}

p {
  color: white;
}


.topnav {
  background-color: #333;
  overflow: hidden;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 32px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.active {
  background-color: #04AA6D;
  color: white;
} 




#bigtext {
  font-size: 30px;
}


/* Snack bar thingy. Please don't edit anything */

/* The snackbar 
- position it at the bottom and in the middle of the screen */#snackbar {  visibility: hidden; 
/* Hidden by default. Visible on click */  min-width: 250px; /* Set a default minimum width */  margin-left: -125px; /* Divide value of min-width by 2 */  background-color: #333; 
/* Black background color */  
color: #fff; /* White text color */  text-align: center; 
/* Centered text */  
border-radius: 2px; /* Rounded borders */  padding: 16px; 
/* Padding */  
position: fixed; /* Sit on top of the screen */  z-index: 1; 
/* Add a z-index if needed */  left: 50%; /* Center the snackbar */
    bottom: 30px; /* 
30px from the bottom */}/* Show the snackbar when clicking on a 
button (class added with JavaScript) */#snackbar.show {  visibility: visible; /* Show the snackbar */
    /* Add 
animation: Take 0.5 seconds to fade in and out the snackbar.   However, 
delay the fade out process for 2.5 seconds */  -webkit-animation: 
fadein 0.5s, fadeout 0.5s 2.5s;  animation: fadein 
0.5s, fadeout 0.5s 2.5s;}/* Animations to fade the snackbar in 
and out */@-webkit-keyframes fadein {  
from {bottom: 0; opacity: 0;}   to {bottom: 30px; 
opacity: 1;}}@keyframes fadein {  from {bottom: 0; opacity: 
0;}  to {bottom: 30px; opacity: 1;}}@-webkit-keyframes fadeout {  from {bottom: 30px; opacity: 1;}   to {bottom: 0; 
opacity: 0;}}@keyframes 
fadeout {  from {bottom: 30px; opacity: 1;}  to {bottom: 0; opacity: 0;}}

/* EOS */
