/*By decree of @AIGamesDeveloper,
I shall change the background to white.*/
html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}
body {
  right: 0px;
  width: 98%;<p>
  padding: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  word-wrap: break-word;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  color: #133a65;
  text-align: center;
  font-weight: bold;
}

h2 {
  color: #133a65;
  text-align: center;
  font-weight: 900;
}

body {
  margin: 2rem;
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-size: 20px;
  background: white;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 100%;
}
video {
  height: auto;
  max-width: 100%;
}

button {
  text-align: center;
  padding: 5px;
  margin-right: 100px;
  background: #585858;
  border: none;
  color: white;
}

header {
  margin: 30px;
  padding: 20px;
  font-size: 24px;
  text-align: center;
  font-family: Futura;
}

header .logo a {
  background-image: url("https://u.cubeupload.com/AIGamesDeveloper/a93513062000ccfbb18a.png");
  background-size: 250px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 40px;
  position: relative;
  text-indent: -99999999;
  top: -40px;
  width: 40px;
}

section {
  background: #2559e2; 
  color: black;
  text-align: center;
  margin: 50px;
  padding: 5%;
  font-size: 48px;
}

*/ #no-li {
  border-radius: 3px;
  padding: 2px;
  margin-left: 20px;
}
li {
  display: inline-block;
  border-radius: 3px;
  padding: 2px;
  margin-left: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h6 {
  text-align: center;
  color: black;
}

p {
  color: black;
}

.paragraph-terms-of-use {
  color: #222;
  text-align: left;
}

h3 {
  text-align: center;
  color: black;
  background: #2559e2;
  border-radius: 5px;
  display: inline-block;
  background-size: 300px;
  padding: 20px 20px;
}

#topnav {
  width: 105%;
  background-color: #c7c7c7;
  overflow: hidden;
  padding: 0px 20px;
  margin: -42px;
}

#topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  padding: 12px;
  width: 100/7%;
  text-align: center;
}

#topnav a:hover {
  background-color: #ddd;
  color: black;
}

#topnav a.active {
  background-color: #04AA6D;
  color: white;
}

#bigtext {
  font-size: 25px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.privacy-policy-description {
  text-align: left;
}

.privacy-policy-h3 {
  text-align: center;
  background: red;
  padding: 20px;
  margin-top: 0px;
  font-size: 28px;
}

.servers-down-header1 {
  text-align: center;
  margin-top: 5px;
  font-size: 48px
}

.servers-down-paragraph-type1 {
  text-align: center;
  font-size: 20px;
  color: red;
}

.servers-down-paragraph-type2 {
  text-align: left;
  color: black;
  
}

.no-change {
  font-weight: bold;
  color: #eaa159;
}

.servers-down-paragraph-type3 {
  text-align: right;
  margin-right: 5px;
  padding: 5px;
}

.servers-down-image-example {
  text-align: left;
  width: 250px;
  height: 196px;
}

.the-rules-header1 {
 text-align: center;
  font-size: 36px;
  color: red;
}

.the-rules-paragraph1{
  text-align: left;
 color: black;
  font-size: 25px;
}

.the-rules-header2 {
  text-align: left;
  font-size: 32px;
  color: navy;
}

.the-rules-table-of-contents {
  text-align: left;
  margin: 0px;
  padding: 20px;
  background-color: grey;
  font-weight: bold;
  color: blue;
  
}

.the-rules-header-ToC {
  text-align: left;
  font-size: 30px;
  color: black;
  background-color: grey;
  margin-bottom: -5px;
}

.ToC-list {
  text-align: left;
  margin: 20px;
  padding: 20px;
  color: #eaa159;
  background-color: grey;
}

.CG-Header1 {
  text-align: center;
  padding: 5px;
  margin: 10px;
  color: #eaa159
}

.CG-Header2 {
  text-align: left;
  padding: 15px;
  margin: 5px;
  color: 
}

.CG-Paragraph {
  font-size: 30px;
  text-align: left;
  color: black;

}

.CG-list-bad {
    text-align: left;
  padding: 5px;
  margin: 5px;
  color: #8b0000;
font-size: 24px;
  font-weight: bold;
}

.servers-down-image {
padding: 0px;
  width: 500px;
  height: 392px;
}

.CG-List-Header {
  text-align: left;
  font-weight: bolder;
  color: black;
  margin: 5px;
  padding 2px;
}

.CG-list-good {
    text-align: left;
  padding: 5px;
  margin: 5px;
  color: #006400;
  font-size: 24px;
  font-weight: bold;
}

.list-table-of-contents {
  color: blue;
  font-weight: bolder;
  margin: 2px;
}
.Worker-Rules {
color: blue;
font-weight: bolder;
text-align: center;
}
